html, body {
    //height: 100%;
}

body {
    color: #fff;
    background: #114;
    font-size: 18px;
}

#app {
    display: flex;
    justify-content: center;
    height: 100%;
}

.main {
    width: 400px;
    background: #225;
    padding: 36px 64px;
    position: relative;
    transition: margin-top 0.25s linear;

    >.input {
        display: flex;
        justify-content: space-between;

        input {
            width: 160px;
            height: 24px;
            font-size: 20px;
        }

        button {
            background: #AAE;
            text-decoration: none;
            border: none;
            display: inline-block;
            padding: 0px 18px;
            font-size: 22px;
        }        
    }

    >.recent {
        position: relative;
        margin-top: 18px;
        width: 100%;
        transition: 0.25s linear;

        >.title {

        }

        >.names {
            display: flex;
            flex-wrap: wrap;

            >.name {
                width: 70px;
                font-size: 14px;
            }
        }
    }

    >.names {
        margin-top: 18px;
        display: flex;
        flex-wrap: wrap;

        >.name {
            width: 100px;
            background: #337;
            text-align: center;
            padding: 6px 12px;
            margin-top: 6px;
            margin-right: 6px;
        }
    }
}
button.add {

}

button.randomize {

}

.name {
    width: 100px;
    background: #337;
    text-align: center;
    padding: 6px 12px;
    margin-top: 6px;
    margin-right: 6px;
    user-select: none;
}

.pods {
    display: flex;
    justify-content: space-between;
}

.pods>.pod {
    margin-top: 24px;
}

.pods>.pod>.name {
    margin-top: 6px;
}